$clrBlue: hsl(223, 87%, 63%);
$clrPaleBlue: hsl(223, 100%, 88%);
$clrLightRed: hsl(354, 100%, 66%);
$clrGray: hsl(0, 0%, 59%);
$clrVeryDarkBlue: hsl(209, 33%, 12%);
$clrWhite: hsl(0, 0%, 100%);
$clrBlack: hsl(0, 0%, 0%);